.choice {
    width: 22vmin;
}

path {
    opacity: .6;
}

svg, g, path {
    pointer-events: visiblePainted;
}

#c0 {
    fill: yellow;
}
#c1 {
    fill: red;
}
#c2 {
    fill: blue;
}
#c3 {
    fill: green;
}
