* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --accent-dark: #74A4BC;
    --accent-light: #B6D6CC;
    --accent-text: #F1FEC6;
}

header {
    display: flex;
    justify-content: center;
    font-size: 15.5vmin;
    background-color: var(--accent-dark);
    padding-bottom: 2vmin;
    color: var(--accent-text);
}

#SVGHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-light);
    padding-top: 2vmin;
    padding-bottom: 2vmin;
}

#play {
    position: absolute;
    height: 4vmin;
    width: 12vmin;
    top: 45vmin;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vmin;
}

button {
    color: var(--accent-text);
    background-color: var(--accent-dark);
    text-align: center;
    letter-spacing: .2vmin;
}

button:disabled {
    pointer-events: none;
}

button:hover {
    opacity: .8;
}

.choice {
    width: 22vmin;
}

path {
    opacity: .25;
}

svg, g, path {
    pointer-events: visiblePainted;
}

#c0 {
    fill: #FFFF81;
}
#c1 {
    fill: #FF3700;
}
#c2 {
    fill: #29339B;
}
#c3 {
    fill: #7FFF58;
}

#bottomHalf {
    display: flex;
    background-color: var(--accent-dark);
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 3vmin;
    background-color: var(--accent-dark);
    color: var(--accent-text);
    padding-bottom: 14vmin;
    letter-spacing: 0.2vmin;
    font-size: 2vmin;
}

@media only screen and (max-width: 320px){
    header {
        font-size: 17vmin;
        letter-spacing: .2vmin;
    }
    .choice {
        width: 40vmin;
    }
    #play {
        top: 68vmin;
        height: 12vmin;
        width: 24vmin;
        font-size: 7vmin;
    }
    footer {
        font-size: 5vmin;
        padding-bottom: 38vmin;
    }
}